
#pic{
    height: 150px;
     border-radius: 50%;
     margin-top: -12%;
 }
 #team{
     background-color: #2A88BD;
     width: 100%;
 }
 #team-photos{
     display: flex;
     gap:5%;
     height: 300px;
    
 }
 
 #team-title{
    text-align:center;
    color: #fff;
 }
 
 #team-figcap{
     margin-top: 20%;
     margin-left: 91px;
 }
 
 #figcap-text{
     color:#fff;
     font-size: 18px;
     margin-left: 15px;
     margin-top: 8%;
     font-style: oblique;
 }
 @media screen and (min-width:300px) and (max-width:550px){
   #team-photos{
     display: block;
     flex-wrap: wrap;
     margin-left: -10%;
     background-color: #2A88BD;
     height: 130%;
    
    
   }
   #pic{
     height: 70px;
  }
 #team{ 
  width:68%; 
 }
 #figcap-text{
   font-size: xx-small;
   margin-left: -3%;
 }
 #team-figcap{
   margin-top: 20%;
   margin-left: 91px;
   font-size: xx-small;
 }
 #team-title{
   text-align:center;
   font-size: small;
 }
 }
 
 @media screen and (min-width:600px) and (max-width:800px){
   #team-photos{
     display: block;
     height: 126%;
     margin-left: 8%;
   }
   #team-title{
     text-align:center;
     font-size: xx-large;
   }
   #team{ 
     width: 68%; 
    }
 
  
 }
 
 @media screen and (min-width:801px) and (max-width:1000px){
   #team{ 
     width: 69%; 
    }
    #team-photos{
     display: flex;
     flex-wrap: wrap;
     height: 150%;
     margin-left: -5%;
   }
 
 }
 
 @media screen and (min-width:1001px) and (max-width:1200px){
   #team-photos{ 
     display: flex;
     flex-wrap: wrap;
     margin-left: -5%;
     gap: 0px;
     height: 120%;
   }
   #team{
     width: 55%;
   }
 
  
 }
 
 @media screen and (min-width:1201px) and (max-width:1300px){
   #team{
     width: 55%;
    
   }
   #team-photos{ 
     display: flex;
     gap: 1px;
     flex-wrap: wrap;
      height: 140%;
 
   }
 
 }
 
 
    