welcome{
    background-color: #ffffff;
    display: flex;
    margin-left: -172px;
}

.our-mission{
    color: rgb(0, 0, 0);
    flex-wrap: wrap;
    width: 30%;
    margin-top: -17px;
    margin-left: 58%;
    font-size: 23px;
    text-align: start;
}
.our-vission{
    color: rgb(0, 0, 0);
    width: 30%;
    margin-top: -18px;
    text-align: start;
    margin-left: 23%;
    flex-wrap: wrap;
    font-size: 23px;
}
#image{
    width: 323px;
    height: 259px;
    margin-top: 20px;
    margin-left: 64%;
}
.imagee{
    margin-top: -19.8%;
    margin-left: -70px;
}
.mision{
   margin-left: -57px;
}
#images{
    width: 260px;
    height: 25
    5px;
    margin-left: 30%; 
}
 

@media (max-width: 767px) {
    #image {
        width: 50px;
        height: 50px;
        margin-top: 20px; 
        margin-left: 50%; 
        transform: translateX(-50%);
    }

    #images {
        width: 50px;
        height: 50px;
        margin-top: 20px; 
        margin-left: 50%; 
        transform: translateX(-50%);
    }
    .mission,
    .vision {
        text-align: start;
        font-size: 300%;
       
    }
    .welcome{
        display: block;
    }
    .our-mission{
        color: rgb(0, 0, 0);
        flex-wrap: wrap;
        width: 53%;
        margin-left: 100px;
        font-size: small;
        text-align: start;
    }
    .our-vission{
        color: rgb(0, 0, 0);
        width: 53%;
        text-align: start;
        margin-left: 100px;
        flex-wrap: wrap;
        font-size: small;
    }
}


@media (max-width: 575px) {
    #image {
        width: 60px;
        height: 50px;
        margin-top: 20px; 
        margin-left: 50%; 
        transform: translateX(-50%);
    }

    #images {
        width: 50px;
        height: 50px;
        margin-top: 20px; 
        margin-left: 50%; 
        transform: translateX(-50%);
    }

    .mission,
    .vision {
        display: block;
        text-align: center;
    }
    .our-mission{
        color: rgb(0, 0, 0);
        flex-wrap: wrap;
        width: 53%;
        margin-left: 110px;
        font-size: small;
        text-align: start;
    }
    .our-vission{
        color: rgb(0, 0, 0);
        width: 53%;
        text-align: start;
        margin-left: 110px;
        flex-wrap: wrap;
        font-size: small;
    }
}